.section-container {
    margin-top: 65px;
    padding: 0 15px;
}

.section-container > h1 {
    background-color: var(--darker-color);
    color: var(--lighter-color);
    padding: 10px 30px;
    margin: 10px 0 0 0;
    border-radius: 100px;
}

.card-container {
    overflow-x: auto;
    padding: 2vh 0;
}

.card-container::-webkit-scrollbar {
    background-color: rgba(0,0,0,0.1);
    border-radius: 20px;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: var(--darker-color);
    border-radius: 20px;
}

.card-section {
    display: inline-flex;
}

.card {
    margin: 0px 20px 0px 0px;
    max-width: 255px;
    max-height: 380px;
    width: 30vw;
    height: 45vw;
    perspective: 1500px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.5);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-image: url("../img/novedades/john_wick3.jpg");
    background-position: center;
    background-size: contain;
}

.card-back {
    background-color: var(--secondary-color);
    color: var(--darker-color);
    font-family: ESE_light;
    transform: rotateY(-180deg);
}

.card-back > p, h2 {
    padding: 0 20px;
}

.card-back > p > span {
    font-weight: 900;
}

@media all and (max-width: 700px) {
    h1 {
        font-size: 1.1rem;
    }

    h2 {
        font-size: calc(14px + 8 * ((100vw - 700px) / 960));
    }

    .card-back {
        overflow-y: auto;
    }

    .card-back > p {
        font-size: calc(14px + 8 * ((100vw - 700px) / 960));
    }
}