.section-container {
    margin-top: 65px;
    padding: 0 15px;
}

.section-container > h1 {
    background-color: var(--darker-color);
    color: var(--lighter-color);
    padding: 5px 20px;
    margin: 0;
}

.card-container {
    overflow-x: auto;
    padding: 30px 0;
}

.card-section {
    display: inline-flex;
}

.card {
    margin: 0px 20px 0px 0px;
    width: 280px;
    height: 400px;
    perspective: 1500px;
    cursor: pointer;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    background-image: url("../img/novedades/john_wick3.jpg");
    background-size: 280px 400px;
}

.card-back {
    background-color: var(--secondary-color);
    font-family: ESE_light;
    transform: rotateY(180deg);
}

.card-back > p, h2 {
    padding: 0 20px;
}

.card-back > p > span {
    font-weight: 900;
}