body {
    margin: 0px;
    background-image: url("../img/background-image.jpg");
    background-size: auto 100vh;
    background-position: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 170px;
    margin-top: 20px;
}

.logo {
    position: absolute;
    background-color: white;
    transform: translateY(-65px);
    border-radius: 50%;
}

.logo > img {
    width: 75px;
    height: auto;
    padding: 15px;
}