main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 250px;
    width: 60%;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.logo {
    position: absolute;
    background-color: var(--darker-color);
    top: calc(-100vh / 9.5);
    border-radius: 50%;
}

.logo > img {
    width: calc(100vh / 12);
    max-width: 90px;
    height: auto;
    padding: 20px;
}

.forgot-password {
    background-color: var(--darker-color);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 20px;
    color: var(--lighter-color);
    padding: 15px 0px 15px 0px;
}

@media all and (max-width: 480px) {
    .login {
        width: calc((450 * 100vw) / 479);
    }
    
    .data {
        width: 270px;
        max-width: 90%;
    }
}

@media all and (max-height: 500px) {
    .logo {
        display: none;
    }
}

@media all and (max-height: 350px) {
    .data {
        height: calc((250 * 100vh) / 350);
        margin-top: 0;
    }
}