body {
    background-color: gainsboro;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 25vw;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 150px;
}

.logo {
}

.logo > img {
    width: 75px;
    height: auto;
}