.navbar {
    background-color: var(--darker-color);
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0px 0px 0px 15px;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    height: 100%;
    width: 500px;
    padding-inline-start: 0;
    margin: 0px 0px 0px 15px;
}

.navbar-item {
    display: flex;
    justify-content: space-around;
    color: var(--lighter-color);
    background-color: var(--darker-color);
    width: 100%;
    text-align: center;
    font-family: ESE;
    transition: background-color .1s linear;
}

.navbar-item:hover {
    background-color: var(--emphasis-color);
    color: var(--darker-color);
    cursor: pointer;
}

.navbar-item > a {
    margin: auto;
}

.navbar-item > span {
    margin: auto;
}

.navbar-item:hover > a {
    color: var(--darker-color);
} 

.navbar > img {
    width: auto;
    height: 40px;
}

#sections {
    padding-inline-start: 0;
}

.sections {
    display: none;
    opacity: 0;
    position: absolute;
    font-family: ESE;
    left: calc(15px + 40px + 15px);
    top: 50px;
    background-color: var(--emphasis-color);
    width: calc(500px / 2);
    transition: opacity .2 linear;
}

.sections > li {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 10px 15px;
    background-color: var(--main-color);
    transition: background-color .1s linear;
}

.sections > li:hover {
    background-color: var(--emphasis-color);
    color: var(--darker-color);
}

.sections > li:hover > a {
    color: var(--darker-color);
}

#search-bar {
    position: absolute;
    right: 30px;
    font-family: ESE_light;
    height: 30px;
    width: 300px;
}

#show {
    z-index: 2;
    height: 50px;
    width: calc(500px / 3);
    position: absolute;
    display: initial;
    cursor: pointer;
    opacity: 0;
}

#show:checked ~ .sections {
    display: initial;
    opacity: 1;
}