.navbar {
    background-color: var(--darker-color);
    width: 100%;
    height: 50px;
    display: flex;
    padding: 0px 0px 0px 15px;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
}

.navbar-list {
    display: flex;
    list-style-type: none;
    height: 100%;
    width: 300px;
    padding-inline-start: 0;
    margin: 0px 0px 0px 15px;
}

.navbar-item {
    display: flex;
    justify-content: space-around;
    color: var(--lighter-color);
    background-color: var(--darker-color);
    width: 100%;
    text-align: center;
    font-family: ESE;
    transition: background-color .1s linear;
}

.navbar-item:hover {
    background-color: var(--emphasis-color);
    color: var(--darker-color);
    cursor: pointer;
}

.navbar-item > a {
    margin: auto;
}

.navbar-item > span {
    margin: auto;
}

.navbar-item > img {
    height: 20px;
    width: 20px;
    margin: auto;
}

.navbar-item:hover > a {
    color: var(--darker-color);
} 

.navbar > img {
    width: auto;
    height: 40px;
}

#sections {
    padding-inline-start: 0;
}

.sections {
    display: none;
    opacity: 0;
    position: absolute;
    font-family: ESE;
    left: calc(15px + 40px + 15px);
    top: 50px;
    background-color: var(--emphasis-color);
    width: calc(300px / 2);
    transition: opacity .2 linear;
}

.sections > li {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 10px 15px;
    background-color: var(--main-color);
    transition: background-color .1s linear;
}

.sections > li:hover {
    background-color: var(--emphasis-color);
    color: var(--darker-color);
}

.sections > li:hover > a {
    color: var(--darker-color);
}

#search-bar {
    position: absolute;
    right: 30px;
    font-family: ESE_light;
    height: 30px;
    width: 220px;
}

#show {
    z-index: 2;
    height: 50px;
    width: calc(500px / 3);
    position: absolute;
    display: initial;
    cursor: pointer;
    opacity: 0;
}

#show:checked ~ .sections {
    display: initial;
    opacity: 1;
}

.simbol {
    transition: transform .1s linear;
}

#show:checked ~ .simbol {
    transform: rotate(180deg);
}

.navbar-list-vertical {
    position: absolute;
    list-style-type: none;
    top: 50px;
    left: 0;
    width: 150px;
    background-color: var(--darker-color);
    z-index: 1;
    padding-inline-start: 0;
    margin: 0;
    display: none;
}

#show-vertical {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(15px + 40px + 15px);
    height: 50px;
    opacity: 0;
    z-index: 2;
}

@media all and (max-width: 700px) {
    .navbar-list {
        display: none;
    }
    
    .navbar-list-vertical > li {
        padding: 15px 20px;
    }

    .navbar-list-vertical > li > a {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .navbar-list-vertical > li:hover {
        background-color: var(--emphasis-color);
    }

    .navbar-list-vertical > li:hover > a {
        color: var(--darker-color);
    }

    #show-vertical:checked ~ .navbar-list-vertical {
        display: initial;
    }
}