body {
    margin: 0px;
    background-image: url("../img/background-image.jpg");
    background-size: auto 100vh;
    background-position-x: center;
    background-attachment: fixed;
    font-family: ESE;
}

h1 {
    font-family: ESE_light;
    font-size: 2rem;
}

h2 {
    font-family: ESE_light;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: white;
}

input {
    font-family: ESE;
    border-radius: 20px;
    padding: 10px;
    border: solid 1px darkgrey;
    transition: border .1s linear;
}

input:hover {
    border: solid 1px var(--emphasis-color);    
}

button {
    font-family: ESE;
    background-color: var(--main-color);
    color: var(--lighter-color);
    border: 0;
    padding: 10px;
    border-radius: 20px;
    transition: background-color .1s linear;
}

button:hover {
    background-color: var(--emphasis-color);
    color: var(--darker-color);
    cursor: pointer;
}

[alt="logo"] {
    animation-name: clockgo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}